.empty-section{
    margin-top:8%;
}
body{

    overflow-x: hidden;
}
.adminPanel{
    background-color: #f2edf3 !important;
}
.bg-light{
    background: #fff !important;
    height: 70px;
}
.navbar-brand{
    font-size: 30px;
    color: #2B96CC !important;
    font-family: 'Montserrat', sans-serif;
    width: 15%;
    margin-left: 1%;
}
.dropdown-menu{
    right: 0 !important;
    left: auto !important;
}

.nav-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.admin-zone{
    margin-left:10%;
}

.sidebar-auth-name{
    font-family: "ubuntu-regular", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #3e4b5b;
}
.sidebar-auth-role{
    font-family: "ubuntu-regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #d8d8d8;


}
.mainContent{
    width: calc(100% - 260px);;
    margin-left: 261px;
    margin-top: -54%;
    background-color: #f2f7fb !important;
}
.sidebar {
    width: 260px;
    min-height: calc(100vh - 70px);
    background: #ffffff;
    font-family: "ubuntu-regular", sans-serif;
    padding: 0;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}

.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
}

.sidebar .nav .nav-item {
    padding: 0 2.25rem;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}

.sidebar .nav .nav-item .collapse {
    z-index: 999;
}

.sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 1.125rem 0 1.125rem 0;
    color: #3e4b5b;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
}

.sidebar .nav .nav-item .nav-link i {
    color: inherit;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1.125rem;
    line-height: 1;
    margin-left: auto;
    color: #bba8bff5;
}

.sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow {
    font: normal normal normal 24px/1 "Material Design Icons";
    line-height: 1;
    font-size: 1.125rem;
    margin-left: auto;
    color: #9e9da0;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\f141";
    font-size: inherit;
    color: inherit;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon {
    margin-left: .25rem;
}

.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link .badge {
    margin-right: auto;
    margin-left: 1rem;
}

.sidebar .nav .nav-item .nav-link[aria-expanded="true"] .menu-arrow:before {
    content: "\f140";
}

.sidebar .nav .nav-item.active {
    background: #ffffff;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #b66dff;
    font-family: "ubuntu-medium", sans-serif;
}

.sidebar .nav .nav-item.active > .nav-link i {
    color: #b66dff;
}

.sidebar .nav .nav-item:hover {
    background: #fcfcfc;
}

.sidebar .nav .nav-item.nav-profile .nav-link {
    height: auto;
    line-height: 1;
    border-top: 0;
    padding: 1.25rem 0;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
    width: 44px;
    height: 44px;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: 1rem;
}

.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
    font-size: 1.125rem;
    margin-left: auto;
}

.sidebar .nav .nav-item.sidebar-actions {
    margin-top: 1rem;
}

.sidebar .nav .nav-item.sidebar-actions .nav-link {
    border-top: 0;
    display: block;
    height: auto;
}

.sidebar .nav .nav-item.sidebar-actions:hover {
    background: initial;
}

.sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
    color: initial;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {
    color: #29323d;
}

.sidebar .nav.sub-menu {
    margin-bottom: 20px;
    margin-top: 0;
    list-style: none;
}

.sidebar .nav.sub-menu .nav-item {
    padding: 0;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #888;
    padding: 0.75rem 2rem 0.75rem 2rem;
    position: relative;
    font-size: 0.8125rem;
    line-height: 1;
    height: auto;
    border-top: 0;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before {
    content: "\F054";
    font-family: "Material Design Icons";
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #a2a2a2;
    font-size: .75rem;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #b66dff;
    background: transparent;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #555555;
}

.sidebar .nav.sub-menu .nav-item:hover {
    background: transparent;
}

/* style for off-canvas menu*/

.inactive{
    color:red;
}
.add-category {
    border: 1px solid #efefef;
    padding: 0px;
}
.dashboard-icon{
    font-size: 45px;

}

.text-dashboard{
    padding: 1px 16px;
    border-radius: 50px;
}